
<h1>Welcome to the Jungle Store!</h1>
<h3>The Jungle store contains anything you can think of, electronics, clothing and cooking supplies!</h3>
<p>The Jungle store started out as an idea to make an online store that contained the funkiest, wackiest and even downright useless items that anybody would love to have taking up space in their home</p>